h1 {
	font-family: 'Crimson Text', serif;
}

label {
	font-family: 'Crimson Text', serif;
}

.panel-heading {
	font-family: 'Crimson Text', serif;
}

button {
	font-family: 'Crimson Text', serif;
}

table {
	font-family: 'Crimson Text', serif;
}